.container {
  position: relative;
  text-align: center;
}

.img1 {
  font-size: larger;
  color: aqua;
  text-decoration: double;
  position: absolute;
  top: 8px;
  left: 16px;
}

.img2 {
  font-size: larger;

  color: aqua;
  position: absolute;
  top: 8px;
  right: 16px;
}

.img3 {
  font-size: larger;

  color: aqua;
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.img4 {
  font-size: larger;

  color: aqua;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.img5 {
  font-size: larger;

  color: aqua;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
