p {
  position: static;
}
h1 {
  position: static;
}

/* By default position of elements is static  */

/* .box{
    background-color: aquamarine;
    height: 100px;
    width: 200px; */
/* Relative position only works when we give its properties - left, right, top, bottom  */
/* position: relative;         
    left: 20px;
    top: 30px; */
/* } */

div {
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: aquamarine;
  border: 1px solid black;
}

.box3 {
  position: relative;
  /* position: absolute; */
  top: 100px;
  left: 50px;
}

.box1 {
  position: fixed;
}

.box4 {
  position: sticky;
  top: 1px;
}

.wrapper {
  height: 1000vh;
  width: 100vw;
  background-color: yellowgreen;
}
