.tr {
  margin: 200px;
  background-color: aquamarine;
  transform: translate(50px, 100px);
  transform: rotate(40deg);
  transform: scale(2, 4);
  /* transform: skew(20deg, 20deg); */
}

div {
  width: 80px;
  height: 80px;
  background-color: skyblue;
}

.changed {
  transform: matrix(1, 2, -1, 1, 80, 80);
  background-color: pink;
}
